:ruby
  content_for(:container) do
    render :partial => 'account_list',
           :locals => { :accounts => @accounts,
                        :title => 'All accounts',
                        :pagination => :pagination }
  end

= render(:partial => 'layouts/container', :locals => { :container_id => 'fission-accounts', :container_class => 'admin' })
