%table.table
  %thead
    %tr
      %th
        Subject
      %th
        Created
  %tbody
    - @notifications.map do |notification|
      :ruby
        if(notification.closed?)
          bg = 'bg-danger'
        elsif(!notification.open?)
          bg = 'bg-warning'
        end
      %tr.notification-item{:class => bg, :href => notification_path(notification)}
        - [:subject, :created_at].each do |key|
          %td= notification.send(key)

:javascript
  $(document).ready(function(){
    $('tr.notification-item').click(function(event){
      $.get($(this).attr('href'));
      return false;
    });
  });
