:ruby
  header_data = ['', '']
  data = [['Number of accounts', source.accounts_dataset.count],
          ['Number of users', source.users_dataset.count]]

  content_for(:panel) do
    render(:partial => 'layouts/table',
           :locals => { :header_data => header_data,
                        :data => data })
  end

= render(:partial => 'layouts/panel', :locals => { :heading => source.name })
